main #home {
    position: relative;
    background-size: cover;
    color: white;
    margin-bottom: 50px;
}

main #home .image {
    background-image: url("../img/wallpaper.jpeg");
    background-position: center left;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(50%);
    height: 300px;
}

main #home .text {
    max-width: 460px;
    position: absolute;
    top: 30%;
    padding: 20px;
}

main #home h2 {
    font-family: Montserrat-Bold;
    font-size: 28px;
    margin-bottom: 12px;
}

main #home p {
    font-family: Montserrat-SemiBold;
    line-height: 28px;
}

main #home .typed-cursor {
    opacity: 0;
}

main #spotlight {
    text-align: center;
    padding: 20px;
}

main #spotlight h2 {
    font-family: Montserrat-SemiBold;
    font-size: 28px;
    margin-bottom: 10px;
}

main #spotlight p {
    font-family: Montserrat-medium;
    margin-bottom: 60px; 
}

main .shoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main .shoe {
    background-color: var(--bgCard);
    padding: 76px 62px;
    margin-bottom: 30px;
}
